<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.frame.frameproject">


    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 安装包的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 共同权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 友盟统计 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 友盟社会化 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl"
        tools:targetApi="n">

        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 闪屏界面 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 崩溃界面 -->
        <activity
            android:name=".ui.activity.CrashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 引导界面 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- App 首页 -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 登录界面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 注册界面 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 设置界面 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/setting_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 忘记密码 -->
        <activity
            android:name=".ui.activity.PasswordForgetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/password_forget_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 重置密码 -->
        <activity
            android:name=".ui.activity.PasswordResetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 手机号更换 -->
        <activity
            android:name=".ui.activity.PhoneResetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 关于我们 -->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 个人资料 -->
        <activity
            android:name=".ui.activity.PersonalDataActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 浏览器 -->
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 拍照选择 -->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片选择 -->
        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 查看大图 -->
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 播放视频 -->
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <!-- 选择视频 -->
        <activity
            android:name=".ui.activity.VideoSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 对话框案例 -->
        <activity
            android:name=".ui.activity.DialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 状态案例 -->
        <activity
            android:name=".ui.activity.StatusActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 友盟 Key（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />

        <!-- QQ AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_APPID"
            android:value="${QQ_APPID}" />
        <!-- QQ Key（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_APPKEY"
            android:value="${QQ_APPKEY}" />

        <!-- 微信 AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_APPID"
            android:value="${WX_APPID}" />
        <!-- 微信 Key（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_APPKEY"
            android:value="${WX_APPKEY}" />

        <!-- 友盟社会化 -->

        <!-- QQ 回调 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${QQ_APPID}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />

        <!-- 微信回调（请注意这个 Activity 放置的包名要和当前项目的包名保持一致，否则将不能正常回调） -->
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />

    </application>

</manifest>